<!DOCTYPE html>
<html>
<head>
	<title>Add product</title>
</head>
<body>
	<fieldset>
		<legend>add category</legend>
		<form method="post" >
		<table>
			<tr>
				<td>Category:</td>
				<td><input type="text" name="category"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="submi" value="submit"></td>
            </tr>
		</table>
		</form>
	</fieldset>
</body>
</html>