<!DOCTYPE html>
<html>

<head>
    <title>Welcome Home</title>
</head>

<body>
    <form>
        <h1>Welcome, <%= user.username %> as Admin </h1>
        <a href="/logout">Logout</a><br> <br>
        <a href="/admin/addproduct">Add product</a>|| <a href="/admin/removecustomer">Remove Customer</a>       
    </form>
</body>

</html>