<!DOCTYPE html>
<html>

<head>
    <title>Welcome Home</title>
</head>

<body>
    <form>
        <h1>Welcome, <%= user.username %> as Customer </h1>
        <a href="/logout">Logout</a><br> <br><br> <br>  
        <table width="100%" border="1">
            <tr>

            </tr>
        </table>      
    </form>
</body>

</html>