<!DOCTYPE html>
<html>

<head>
    <title>Welcome Home</title>
</head>

<body>
    <form>
        <h1>Welcome, <%= user.username %> as Customer </h1>
        <a href="/logout">Logout</a><br> <br>
        <a href="/admin/addemployee">Register new employee</a><br> <br>        
    </form>
</body>

</html>